<style>
    td {
        height: 60px;
        width: 60px;
    }
    
    .red {
        background-color: brown;
        color: cornsilk;
    }
</style>
<div ng-controller="playroomController as ctrl" class="main" ng-init="ctrl.init()">
    <section class="container text-center">
        <div class="row">
            <div class="col-2 text-left">
                <h3 class="text-center pb-2"><u>รายชื่อ</u></h3>
                <ul>
                    <li ng-repeat="i in player">{{i.user}}</li>

                </ul>
            </div>

            <div class="col-10">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="5" style="padding: 20px; font-size: 50px;">BINGO</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in myTable">
                        <td ng-repeat="x in item" ng-class="{'red': x.is_find == true}">{{x.number}}</td>
                    </tr>

                    <tr ng-if="myTable.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="myTable.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="myTable.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="myTable.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-if="myTable.length == 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
                <div class="p-3">
                    <button ng-click="vote()"> Vote Ready </button>
                    <button ng-click="random()"> New Random </button>
                    <button ng-click="select()"> Select </button>
                </div>
            </div>
        </div>
    </section>
</div>