<div ng-controller="roomController as ctrl" class="main" ng-init="ctrl.init()">
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr class="text-center">
                    <th width="">#</th>
                    <th width="">Name</th>
                    <th width="">Player</th>
                    <th width="">Select Room</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" ng-repeat="i in room">
                    <th>{{$index + 1}}</th>
                    <td>{{i.name_room}}</td>
                    <td>{{i.COUNT_PAR | number}} คน</td>
                    <td>
                        <a href="" ng-click="select(i.id)">Select</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>